# Libraries Import

In [2]:
import pandas as pd
import numpy as np
import os.path
import recsys as rs
import notipy
import TopSimilarRecommender as TSR
import random

# Datasets

In [3]:
train = pd.read_csv('Data/train_final.csv','\t')
tr_info = pd.read_csv('Data/tracks_final.csv','\t')
pl_info = pd.read_csv('Data/playlists_final.csv','\t')
tgt_pl = pd.read_csv('Data/target_playlists.csv','\t')
tgt_tr = pd.read_csv('Data/target_tracks.csv','\t')

# Data Visualization

In [4]:
train.head()

   playlist_id  track_id
0      3271849   2801526
1      5616275    727878
2     11267488   2805283
3     10103900   1515105
4      3836898   2945623

In [5]:
tr_info.head()

,track_id,artist_id,duration,playcount,album,tags
0,2972914,144,224000,49.0,[7],"[54087, 1757, 1718, 116712, 189631]"
1,2750239,246,157000,1.0,[8],"[189631, 3424, 177424, 46208, 205245]"
2,1550729,144,217000,554.0,[9],"[54087, 109806, 46869, 183258, 54337]"
3,2169950,144,207000,200.0,[9],"[54087, 70618, 207003, 109806, 116712]"
4,1903709,144,198000,5.0,[None],"[54087, 81223, 116712, 215342, 71028]"

In [6]:
pl_info.head()

,created_at,playlist_id,title,numtracks,duration,owner
0,1216545588,644838,[12727],27,6522,41504
1,1249326867,7577564,[],9,2650,41504
2,1257766688,3120683,[183],16,3645,44542
3,1248079275,4278112,"[12389, 18698, 18925, 11695, 7117]",15,4151,44542
4,1175201268,8656823,"[12809, 2095, 13257, 12671, 20426, 14448, 18698]",84,18414,44542

In [7]:
tgt_pl.head()

   playlist_id
0     10024884
1     10624787
2      4891851
3      4267369
4        65078

In [8]:
tgt_tr.head()

   track_id
0   1316175
1   3885714
2   3091270
3    226759
4    230596

# Division of the Data in Trainset and Testset

From the target playlists, only the ones with more than 10 elements are kept.

In [9]:
big_target_playlist = [i for i in np.unique(train['playlist_id'].values) if train[train['playlist_id'] == i].shape[0] >= 10]

From the playlists in big_target_playlists, 100
are randomly picked.

In [10]:
test_pl = pd.DataFrame({"playlist_id": list(map(lambda x: random.choice(big_target_playlist), range(100)))})
test_pl

    playlist_id
0       8950324
1       7206595
2       8574662
3       8550902
4       4546088
5       3848801
6       7748311
7        633666
8      10781099
9       4809611
10      8685829
11        45369
12       802581
13      8086140
14      4633465
15     10023840
16     11136869
17     10865461
18      4338265
19      4402707
20      6021737
21      4657332
22      6764857
23      2785241
24      6191204
25      6831440
26     11254847
27      8709651
28      4859416
29      8850384
..          ...
70     10163864
71     10781669
72      4405846
73      7409467
74      3965087
75       898771
76      1736703
77      3345541
78      5276708
79      3298202
80      3227961
81     11596818
82      5217102
83      7622648
84      4336153
85      2330772
86     10584432
87      7131201
88     11648444
89      3515269
90       411455
91       316797
92     10963838
93      8354140
94      8757269
95      7633753
96      5865251
97     10660655
98      4738109
99     10518386

[100 rows x 1 columns]

5 elements are removed from each playlist and save in tracks_removed.

In [11]:
tracks_in_test_pl = pd.merge(train, test_pl, how='inner', on='playlist_id')
tracks_removed= pd.DataFrame(columns=['playlist_id', 'track_id'], dtype='int32')
indexes_to_remove= np.array([], dtype='int32')
for i in np.unique(tracks_in_test_pl['playlist_id'].values):
    #randomly selects 5 elements from playlist i and save indexes
    tmp = (tracks_in_test_pl.where(tracks_in_test_pl['playlist_id']==i).dropna().sample(5)).index
    #insert the items selected in tracks_removed dataFrame
    tracks_removed= tracks_removed.append(tracks_in_test_pl.take(tmp)).astype(int)
    #remove tracks from the original dataframe
    indexes_to_remove=np.append(indexes_to_remove, values=tmp)

tracks_in_train= pd.DataFrame(tracks_in_test_pl)
tracks_in_train.drop(indexes_to_remove, inplace='true')
tracks_removed

      playlist_id  track_id
3209         7692   1519416
3207         7692   2567254
3239         7692   2880726
3217         7692    634178
3228         7692    280844
3413        45369   3583080
3343        45369   2692677
3393        45369   2943035
3375        45369   3669144
3369        45369   1532945
518        316797   1495681
505        316797    221754
478        316797   1804664
471        316797   2216572
526        316797   2612605
2379       411455   1175008
2339       411455   2214979
2349       411455   3799849
2375       411455   3319763
2340       411455   3098968
1920       496083   3550139
1911       496083    557502
1913       496083   2493058
1925       496083    956910
1912       496083   2766473
2641       609867   2265460
2647       609867   2541745
2640       609867   3657309
2650       609867    899154
2636       609867    202089
...           ...       ...
1597     10963838    858472
1617     10963838   2395228
1589     10963838   2716773
1615     10963838   2746430
1603     10963838   3788236
4125     11136869   1534222
4133     11136869   3688789
4132     11136869   2483922
4123     11136869   1721236
4131     11136869   1049815
4004     11254847   2538359
3972     11254847    580133
3976     11254847   2891875
3999     11254847   3034547
4000     11254847    315323
3604     11596818   2785990
3601     11596818   1209729
3602     11596818   3316585
3592     11596818   1372484
3599     11596818   2970806
3887     11648444   1684055
3897     11648444   3098917
3889     11648444     63699
3888     11648444   2090446
3901     11648444   3563992
1018     11659485   2486964
1002     11659485   1432469
1023     11659485   1169224
1042     11659485   1374486
1025     11659485    880067

[500 rows x 2 columns]

Create DataFrame containing the track_ids of the terget track for the test

In [12]:
tgt_test_tracks= pd.DataFrame(tracks_in_test_pl['track_id'])
print(tgt_test_tracks.shape)
tgt_test_tracks = pd.DataFrame.drop_duplicates(tgt_test_tracks)
print(tgt_test_tracks.shape)

(4295, 1)
(4036, 1)

# Recommendation
Building the dictionaries:
fit_dict = {'tracks_info' : tr_info, 
            'attributes' : ['artist_id', 'album', 'tags'],
            'tgt_tracks' : tgt_tr, 
            'n_min_attr' : 2,
            'measure' : 'dot',
            'shrinkage' : 0,
            'n_el_sim' : 20}
recommend_dict = {'tgt_playlists' : tgt_pl, #pass the dataset containing only the playlist in the train
                  'train_playlists_tracks_pairs' : train, #pass the dataset without the songs removed for the test
                  'normalize' : False}

# Libraries Import

In [2]:
import pandas as pd
import numpy as np
import os.path
import recsys as rs
import notipy
import TopSimilarRecommender as TSR
import random

# Datasets

In [3]:
train = pd.read_csv('Data/train_final.csv','\t')
tr_info = pd.read_csv('Data/tracks_final.csv','\t')
pl_info = pd.read_csv('Data/playlists_final.csv','\t')
tgt_pl = pd.read_csv('Data/target_playlists.csv','\t')
tgt_tr = pd.read_csv('Data/target_tracks.csv','\t')

# Data Visualization

In [4]:
train.head()

   playlist_id  track_id
0      3271849   2801526
1      5616275    727878
2     11267488   2805283
3     10103900   1515105
4      3836898   2945623

In [5]:
tr_info.head()

,track_id,artist_id,duration,playcount,album,tags
0,2972914,144,224000,49.0,[7],"[54087, 1757, 1718, 116712, 189631]"
1,2750239,246,157000,1.0,[8],"[189631, 3424, 177424, 46208, 205245]"
2,1550729,144,217000,554.0,[9],"[54087, 109806, 46869, 183258, 54337]"
3,2169950,144,207000,200.0,[9],"[54087, 70618, 207003, 109806, 116712]"
4,1903709,144,198000,5.0,[None],"[54087, 81223, 116712, 215342, 71028]"

In [6]:
pl_info.head()

,created_at,playlist_id,title,numtracks,duration,owner
0,1216545588,644838,[12727],27,6522,41504
1,1249326867,7577564,[],9,2650,41504
2,1257766688,3120683,[183],16,3645,44542
3,1248079275,4278112,"[12389, 18698, 18925, 11695, 7117]",15,4151,44542
4,1175201268,8656823,"[12809, 2095, 13257, 12671, 20426, 14448, 18698]",84,18414,44542

In [7]:
tgt_pl.head()

   playlist_id
0     10024884
1     10624787
2      4891851
3      4267369
4        65078

In [8]:
tgt_tr.head()

   track_id
0   1316175
1   3885714
2   3091270
3    226759
4    230596

In [13]:
fit_dict = {'tracks_info' : tr_info, 
            'attributes' : ['artist_id', 'album', 'tags'],
            'tgt_tracks' : tgt_test_tracks,
            'n_min_attr' : 2,
            'measure' : 'dot',
            'shrinkage' : 0,
            'n_el_sim' : 20}

recommend_dict = {'tgt_playlists' : test_pl,
                  'train_playlists_tracks_pairs' : tracks_in_test_pl, 
                  'normalize' : False}

In [14]:
rec = TSR.TopSimilarRecommender()
rec.fit(**fit_dict)
print('Model fitted!')

Fixed dataset
Calculated Indices
Pruning attributes.
Number of attributes before pruning is: 120295
Number of attributes after pruning is: 35250
ICM built
Computed 0 similarities over 100000 with dot measure and 0 shrinkage.
Computed 1000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 2000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 3000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 4000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 5000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 6000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 7000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 8000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 9000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 10000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 11000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 12000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 13000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 14000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 15000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 16000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 17000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 18000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 19000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 20000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 21000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 22000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 23000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 24000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 25000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 26000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 27000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 28000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 29000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 30000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 31000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 32000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 33000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 34000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 35000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 36000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 37000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 38000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 39000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 40000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 41000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 42000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 43000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 44000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 45000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 46000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 47000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 48000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 49000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 50000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 51000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 52000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 53000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 54000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 55000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 56000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 57000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 58000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 59000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 60000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 61000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 62000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 63000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 64000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 65000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 66000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 67000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 68000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 69000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 70000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 71000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 72000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 73000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 74000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 75000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 76000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 77000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 78000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 79000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 80000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 81000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 82000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 83000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 84000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 85000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 86000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 87000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 88000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 89000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 90000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 91000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 92000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 93000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 94000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 95000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 96000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 97000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 98000 similarities over 100000 with dot measure and 0 shrinkage.
Computed 99000 similarities over 100000 with dot measure and 0 shrinkage.
Similarity built
Model fitted!

In [17]:
recommendetions = rec.recommend(**recommend_dict)
print('Recommendation done')

Calculated 0 users ratings over 100
URM built
Recommended 0 users over 100

SystemExit: Not enough similarity

/home/giada/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2889: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
recommendetions.sort_values('playlist_id')

In [ ]:
map_eval = rs.evaluate(recommendetions, tracks_removed, 'MAP')

In [ ]:
tojson('path', [fit_dict, recommend_dict, map_eval])