## Importing libraries

In [1]:
import os.path
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',500)

## Importing datasets

In [2]:
traindata = pd.read_csv('Data/train_final.csv','\t')
tracksdata = pd.read_csv('Data/tracks_final.csv','\t')
playlistsdata = pd.read_csv('Data/playlists_final.csv','\t')
targetplaylists = pd.read_csv('Data/target_playlists.csv','\t')
targettracks = pd.read_csv('Data/target_tracks.csv','\t')

## Data visualization

In [3]:
traindata.head()

   playlist_id  track_id
0      3271849   2801526
1      5616275    727878
2     11267488   2805283
3     10103900   1515105
4      3836898   2945623

In [4]:
tracksdata.head()

,track_id,artist_id,duration,playcount,album,tags
0,2972914,144,224000,49.0,[7],"[54087, 1757, 1718, 116712, 189631]"
1,2750239,246,157000,1.0,[8],"[189631, 3424, 177424, 46208, 205245]"
2,1550729,144,217000,554.0,[9],"[54087, 109806, 46869, 183258, 54337]"
3,2169950,144,207000,200.0,[9],"[54087, 70618, 207003, 109806, 116712]"
4,1903709,144,198000,5.0,[None],"[54087, 81223, 116712, 215342, 71028]"

In [5]:
playlistsdata.head()

,created_at,playlist_id,title,numtracks,duration,owner
0,1216545588,644838,[12727],27,6522,41504
1,1249326867,7577564,[],9,2650,41504
2,1257766688,3120683,[183],16,3645,44542
3,1248079275,4278112,"[12389, 18698, 18925, 11695, 7117]",15,4151,44542
4,1175201268,8656823,"[12809, 2095, 13257, 12671, 20426, 14448, 18698]",84,18414,44542

## Extracting Top Popular tracks

In [6]:
targets = pd.DataFrame(traindata['track_id'].value_counts())
targets['tmp'] = targets.index
targets.index = np.arange(targets.shape[0])
targets.rename(columns = {'track_id':'rating', 'tmp':'track_id'}, inplace=True)
targets.head()

   rating  track_id
0     476   1563309
1     432   1363985
2     425   3705881
3     403   1595978
4     391   3166665

In [7]:
top_ids = np.array_str(targets['track_id'].values[0:5])[1:-1]
top_ids

'1563309 1363985 3705881 1595978 3166665'

## Formatting as requested

In [8]:
final = targetplaylists.copy()
final['track_ids'] = top_ids
final['track_ids'] = final['track_ids'].apply(lambda x: " ".join(x.split()))
final

      playlist_id                                track_ids
0        10024884  1563309 1363985 3705881 1595978 3166665
1        10624787  1563309 1363985 3705881 1595978 3166665
2         4891851  1563309 1363985 3705881 1595978 3166665
3         4267369  1563309 1363985 3705881 1595978 3166665
4           65078  1563309 1363985 3705881 1595978 3166665
5        10637124  1563309 1363985 3705881 1595978 3166665
6         3223162  1563309 1363985 3705881 1595978 3166665
7         7541503  1563309 1363985 3705881 1595978 3166665
8         6189367  1563309 1363985 3705881 1595978 3166665
9         8459943  1563309 1363985 3705881 1595978 3166665
10       10138804  1563309 1363985 3705881 1595978 3166665
11       10562075  1563309 1363985 3705881 1595978 3166665
12       10184821  1563309 1363985 3705881 1595978 3166665
13        4189678  1563309 1363985 3705881 1595978 3166665
14        6299524  1563309 1363985 3705881 1595978 3166665
15        8515028  1563309 1363985 3705881 1595978 3166665
16       10631638  1563309 1363985 3705881 1595978 3166665
17       10947423  1563309 1363985 3705881 1595978 3166665
18       11295404  1563309 1363985 3705881 1595978 3166665
19        3884714  1563309 1363985 3705881 1595978 3166665
20       10680851  1563309 1363985 3705881 1595978 3166665
21        3228268  1563309 1363985 3705881 1595978 3166665
22        7850055  1563309 1363985 3705881 1595978 3166665
23       10864017  1563309 1363985 3705881 1595978 3166665
24        5660760  1563309 1363985 3705881 1595978 3166665
25        4157419  1563309 1363985 3705881 1595978 3166665
26        3304833  1563309 1363985 3705881 1595978 3166665
27        1911645  1563309 1363985 3705881 1595978 3166665
28        4902536  1563309 1363985 3705881 1595978 3166665
29        1140304  1563309 1363985 3705881 1595978 3166665
...           ...                                      ...
9970     11381473  1563309 1363985 3705881 1595978 3166665
9971      3520121  1563309 1363985 3705881 1595978 3166665
9972      6612439  1563309 1363985 3705881 1595978 3166665
9973      6218231  1563309 1363985 3705881 1595978 3166665
9974      8344678  1563309 1363985 3705881 1595978 3166665
9975      7470841  1563309 1363985 3705881 1595978 3166665
9976      6423094  1563309 1363985 3705881 1595978 3166665
9977      8139437  1563309 1363985 3705881 1595978 3166665
9978      8227203  1563309 1363985 3705881 1595978 3166665
9979      5903507  1563309 1363985 3705881 1595978 3166665
9980      3778920  1563309 1363985 3705881 1595978 3166665
9981      1061175  1563309 1363985 3705881 1595978 3166665
9982      8572406  1563309 1363985 3705881 1595978 3166665
9983     10413491  1563309 1363985 3705881 1595978 3166665
9984      8868869  1563309 1363985 3705881 1595978 3166665
9985      8202309  1563309 1363985 3705881 1595978 3166665
9986      7784396  1563309 1363985 3705881 1595978 3166665
9987      4622927  1563309 1363985 3705881 1595978 3166665
9988     11542825  1563309 1363985 3705881 1595978 3166665
9989      7138440  1563309 1363985 3705881 1595978 3166665
9990      5146771  1563309 1363985 3705881 1595978 3166665
9991      4506918  1563309 1363985 3705881 1595978 3166665
9992     10337087  1563309 1363985 3705881 1595978 3166665
9993      5608217  1563309 1363985 3705881 1595978 3166665
9994      7697108  1563309 1363985 3705881 1595978 3166665
9995     11616286  1563309 1363985 3705881 1595978 3166665
9996        53201  1563309 1363985 3705881 1595978 3166665
9997     11369546  1563309 1363985 3705881 1595978 3166665
9998      7939535  1563309 1363985 3705881 1595978 3166665
9999       297021  1563309 1363985 3705881 1595978 3166665

[10000 rows x 2 columns]

## Saving to csv

In [9]:
final.to_csv('Submissions/top_popular_submission.csv', index=False)